In [12]:
# Importing file using pandas library
import pandas as pd

df = pd.read_csv('train.csv')
df.sample(6)

                                               headline          label
3641  Vivo V15 Pro બજારમાં ધૂમ મચાવવા તૈયાર, જાણો શુ...           tech
5212  હવે સ્ક્રિનને ટચ કર્યા વગર ફોનમાં કરી શકાશે તમ...           tech
3962  Messengerમાં આવી રીતે કરો સિક્રેટ ચેટ, કોઈ નહી...           tech
1630  10 હજારનો સ્ટોક થયો 1.5 લાખનો, આપની પાસે પણ છે...       business
310   'kasautii zindagii kay 2' માં કોમોલિકાએ રચ્યો ...  entertainment
1578  દુનિયાનું પ્રખ્યાત TIME મેગેઝિન 14 અરબ રૂપિયામ...       business

In [9]:
df.describe()

                                                 headline          label
count                                                5269           5269
unique                                               5264              3
top     બે અજાણ્યા વ્યક્તિ મળ્યા, બનાવી દીધી 35 લાખ કર...  entertainment
freq                                                    2           2321

In [10]:
df['label'].value_counts()

entertainment    2321
business         1840
tech             1108
Name: label, dtype: int64

In [4]:
df_en = df[(df.label != 'tech') & (df.label != 'business')]
df_bs = df[(df.label != 'tech') & (df.label != 'entertainment')]
df_tc = df[(df.label != 'entertainment') & (df.label != 'business')]

In [5]:
# exporting data category wise
df_en.to_csv('entertainment.csv', encoding='utf-8-sig')

In [6]:
df_bs.to_csv('business.csv', encoding='utf-8-sig')

In [7]:
df_tc.to_csv('tech.csv', encoding='utf-8-sig')

In [13]:
df.to_csv('data.csv', encoding='utf-8-sig')